/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*
#00735E
	background-image:URL(../img/BLUE+BACKGROUND.jpg);
	background-repeat:no-repeat;
   background-size: cover;
   height:1000px
}*/
.full-scen {
  background-image:URL(../img/main_bg.jpg) ;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  margin: 0 auto;
  max-width: 1040px;
}
.container{
	max-width:1000px;
	height:auto;
	margin:0 auto;
	padding:0;
}

.head{
	padding:15px 30px
}
.logo-img{
	display:block;
	padding-top:20px
}

.pp p {
	color:red;
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}
.pp p:nth-last-child(2) {
  color: #fff;
  font-style: italic;
  padding-right: 30px;
}
.pp p:nth-last-child(1){
	padding-right:60px
}
 /*navigation ber*/


.main-nav{
	list-style:none;
	overflow:hidden;
	margin:0;
	padding:0;
}
.main-nav li{
	float:left;
	background: #d1ede2;
	border-right: 1px solid #1e4c4c;
}
.main-nav li a {
  color: #1e4c4c;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 8px 9.877px;
  text-align: center;
  text-decoration: none;
}
.main-nav li:nth-last-child(1){
	border-right:none;
}

.main-nav li:hover{
  background: #d9d9d9;
  color:#000;
  }

/*End nave ber*/
/*stat section+list-nave+slide*/
.row.sec {
  padding-bottom:14px;
  padding-top:10px;
}
.left-list-nave{
	margin:0;
	padding:0;
	list-style:none;
}
.left-list-nave li {
  background: #99bfb8;
  margin: 0 0 13px;
}
.left-list-nave li a {
  color: #1e4c4c;
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding: 9px 7px;
  text-align: center;
  text-decoration: none;
}
.left-list-nave li a:hover{
	 background:#d9d9d9 ;
    color:#000;
}
/*slider*/


.item > img {
  width: 100%;
}
/*end slider*/
.home-fo-t {
  border-top: 1px solid #fff;
}
.prd{
	padding:15px 30px;
}
.ar{
  color: #fff;
  font-size: 13px;
  text-align: justify;
  margin:0;
}

.green-googs{
	list-style:none;
	margin:0;
	padding:0;
}

.green-googs li{
	display:inline-block;
	margin-right:8px
}
.green-googs > li:nth-last-child(1) {
  margin-right: 0;
}
.green-googs li a {
	display:block;
}
.green-googs li a img{
	width:100%
}
.green-googs li:hover{
	opacity:0.7
	
}
/*end section*/
/*footer area*/
.footer{
	background:#000
}
.foo {
  color: #fff;
  font-size: 10px;
  line-height: 25px;
  margin: 0;
}

/*end footer*/
/*about*/
.about {
  padding: 0 25px;
}
.text-left.ab-hading {
  background:#005248;
  padding: 5px;
}
.ab-hading h2 {
  border-bottom: 1px solid #00779F;
  color: #ffa449;
  display: block;
  margin: 0 10px 10px;
  padding: 3px;
}
.ab-img {
  background: #006c62;
  margin-top: 5px;
  padding: 6px;
}

.inner-pic {
  border: 1px solid #008FB2;
  display: inline-block;
  margin: 5px;
  padding: 4px;
}

.ab-ct {
  padding: 20px 0;
}
.ab-ct p {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  padding-top: 13px;
  text-align: justify;
}
.ab-ct > p:nth-last-child(1) {
  padding-top: 30px;
}
.ab-f-img {
  padding: 20px 0 92px;
}
.ad-img-el {
  border: 1px solid #224d94;
  display:inline-block;
  background:#224d94;
}
.ad-img-el:hover{
	background:#ba0001;
	border:1px solid #ba0001;
}
.ad-img-el > p {
  
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  color:#fff;
}
.ad-img-el img {
  display: block;
  width: 100%;
}
/*end about*/
.scr-gif {
  display: inline-flex;
  padding: 4px 0;
}
.scr-gif > p {
  color: #fff;
  font-size: 13px;
  margin: 0;
  padding-left: 9px;
}